<div class="row">
  <div class="col-xxl-12">
    <div class="row" *ngIf="data">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 centralize">
            <nb-card>
              <div class="icon-container centralize">
                <div class="icon status-primary">
                  <nb-icon icon="twitter" pack="fab"></nb-icon>
                </div>
              </div>
              <div class="details">
                <div class="title h5">Twitter Posts</div>
                <div class="status paragraph-2 centralize">
                  {{ data["twitter"].length }}
                </div>
              </div>
            </nb-card>
          </div>

          <div class="col-md-4 centralize">
            <nb-card>
              <div class="icon-container centralize">
                <div class="icon status-primary">
                  <nb-icon icon="instagram" pack="fab"></nb-icon>
                </div>
              </div>
              <div class="details">
                <div class="title h5">Instagram Posts</div>
                <div class="status paragraph-2 centralize">
                  {{ data["instagram"].length }}
                </div>
              </div>
            </nb-card>
          </div>

          <div class="col-md-4 centralize">
            <nb-card>
              <div class="icon-container centralize">
                <div class="icon status-primary">
                  <nb-icon icon="hashtag" pack="fa"></nb-icon>
                </div>
              </div>
              <div class="details">
                <div class="title h5">Hashtag Searched</div>
                <div class="status paragraph-2">#Immigration</div>
              </div>
            </nb-card>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            Hate Speech Per Demographic Category
          </nb-card-header>
          <nb-card-body>
            <ngx-double-axis-bar-chart
              *ngIf="ageBars"
              [barData]="ageBars"
            ></ngx-double-axis-bar-chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header>
            Hate Speech Per User Gender
          </nb-card-header>
          <nb-card-body>
            <ngx-double-axis-bar-chart
              *ngIf="genderBars"
              [barData]="genderBars"
            ></ngx-double-axis-bar-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row" *ngIf="mapDataSet">
      <div class="col-md-12">
        <nb-card class="cards-container" size="large">
          <nb-card-header>
            Migration Graph
          </nb-card-header>
          <nb-card-body>
            <ngx-simulation-nodes></ngx-simulation-nodes>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration HeatMap
          </nb-card-header>
          <nb-card-body>
            <ngx-heatmap-chart></ngx-heatmap-chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration BarChart
          </nb-card-header>
          <nb-card-body>
            <ngx-bar-chart
              [barData]="barChartData"
              [titles]="barChartTitles"
              [axisTitle]="'No. of Posts'"
            >
            </ngx-bar-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration Line Chart
          </nb-card-header>
          <nb-card-body>
            <ngx-line-chart [chartPrices]="lineChart"></ngx-line-chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration PieChart
          </nb-card-header>
          <nb-card-body>
            <ngx-pie-chart [seriesData]="pieSeriesData"></ngx-pie-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
