<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-12">
        <nb-card class="cards-container" size="large">
          <nb-card-header>
            Migration Graph
          </nb-card-header>
          <nb-card-body>
            <ngx-simulation-nodes></ngx-simulation-nodes>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration HeatMap
          </nb-card-header>
          <nb-card-body> </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration BarChart
          </nb-card-header>
          <nb-card-body>
            <ngx-bar-chart [barData]="barChartData" [titles]="barChartTitles">
            </ngx-bar-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration Line Chart
          </nb-card-header>
          <nb-card-body>
            <ngx-line-chart [chartPrices]="lineChart"></ngx-line-chart>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card class="cards-container">
          <nb-card-header>
            Migration PieChart
          </nb-card-header>
          <nb-card-body>
            <ngx-pie-chart [seriesData]="pieSeriesData"></ngx-pie-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
